<li>
  <%= link_to map.title, map_path(map), class: "btn btn-default" %>
  <%= link_to "Delete", map_path(map), method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-default" %>
  <%= link_to 'Calender', map_events_path(map), class: "btn btn-default" %>
</li>