<section>
<h1><%= @map.title %></h1>
<h3><%= @map.user.email %></h3>
</section>

<div id="form">
  <%= render 'markers/form' %>
</div>

<div id="map"></div>

<table id="markers">
<%= render(@map.markers) %>
</table>
