<div id=infoForm >
	<form action='/markers/{{id}}/update' method='patch'>
		<p> In template: {{name}} </p>
		<div><textarea name='marker[info]' id='marker_info'>{{info}}</textarea></div>
		<p><input type='submit' value='Update'></p>
	</form>
	<a controller="markers" data-method="delete" href="/markers/{{id}}/destroy" id='infoDelBtn'>Destroy</a>
</div>