<div id=infoForm >
	<form action='/markers/{{id}}/update' method='patch' role='form'>
		<div class="form-group">
			<label for="username">Name: {{name}}</label>
		</div>
		<div class="form-group">
			<label for="marker_info">Marker Info:</label>
			<textarea name='marker[info]' id='marker_info' class="form-control">{{info}} </textarea>
		</div>
		<input type='submit' value='Update' class="btn btn-warning">
	</form>
	<a controller="markers" data-method="delete" href="/markers/{{id}}/destroy" id='infoDelBtn' class="btn btn-danger">Destroy</a>
</div>