<div id="directionForm">
  <strong>Mode of Travel template: </strong>
  <select id="mode">
    <option value="DRIVING">Driving</option>
    <option value="WALKING">Walking</option>
    <option value="BICYCLING">Bicycling</option>
    <option value="TRANSIT">Transit</option>
  </select>
  <button id="directionsBtn" class="btn btn-success">Get Directions</button>
</div>