// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/
section {
	margin: 1%;
	text-align: center;

	h1 {
		font-size: 2em;
	}
}
#form {
	float: left;
	width: 30%;

	input {
		width: 90%;
	}
}
#map {
	width: 65%;
	height: 75%;
	float: left;
	margin: 0 5% 0 0;
}
table {
	float: left;
}
#directionForm {
	font-size: 1.5em;
	position: relative;
	top: 30%;
	//left: 5%;
	z-index: 5;
	//background-color: #fff;
	padding: 5px;
	//border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
	width: 50%;
	height: 10%;
	display: none;

	select {
		font-size: 1em;
		width: 30%;
	}
	#directionsBtn {
		width: 30%;
		font-size: 1em;
		border-radius: 5px;
	}
}
#right-panel {
	width: 65%;
	margin: 0 0 0 30%;
}