// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/
section {
	margin: 1%;
	text-align: center;

	h1 {
		font-size: 2em;
	}
}
#form {
	float: left;
	width: 30%;

	input {
		width: 90%;
	}
}
#map {
	width: 70%;
	height: 80%;
	float: left;
}
table {
	float: left;
}